:root {
    --scheme-blue: #2196f3;
    --scheme-surface-color: #1e1e1e;
    --fs-heading: 5rem;
    --fs-heading-bar: 1.3rem;
    --fs-title: 4.7rem;
    --fs-heading-more: 1.2rem;
    --fs-heading-logo: 2.7rem;
    --fs-pr: 1.1rem;
    --fs-title-med: 1.7rem;
    --fs-small-cards: 12.8px;
}