@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
    /* :root {
        --fs-heading: 3rem;
    } */
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}


/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    :root {
        --fs-heading: 4.2rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    :root {
        --fs-heading: 5rem;
    }
}

/* xxl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }


}