:root {
    --p: 207 90% 54%;
    --s: 213.12 93.902% 67.843%;
    --pos-x: 0;
    --pos-y: 0;
    --pos-r: 0;
    --color: rgba(252, 209, 22);
    --timing: 700ms; 
    --color-primary: rgba(255, 255, 255);

}
/* RESET */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100vh;
    height: 100%;
}
img, picture, svg, video {
    display: block;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

/* MAIN */
.container {
    height: 100%;
}

body {
    background-color: #121212;
    color: white;
}
.navbar {
    display: flex;
    height: 17%;
    justify-content: space-between;
    align-items: center;
}
@keyframes dot {
    from {
        opacity: 0;
        transform: translateY(-20px)
    }
    to {
        transform: translateY(0px)
    }
}
@keyframes defaultLoadLeft {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes defaultLoadRight {
    from {
        transform: translateX(20px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes defaultOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes header {
    from {
        transform: scale(0.9);
        opacity: 0.5;
        filter: blur(20px);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.navbar .logo {
    font-size: 2.7rem;
    font-family: 'Poppins', sans-serif;
    animation-name: defaultLoadLeft;
    display: flex;
}
.navbar .menu {
    font-size: 2.7rem;
    text-align: center;
    animation-name: defaultLoadRight;
}
.logo i {
    animation-name: dot;
}
.bar {
    background-color: #222222;
    color: #cccccc;
    font-family: 'Satoshi', sans-serif;
    text-align: center;
    width: 9em;
    height: 1.7em;
    font-size: 1.3em;
    border-radius: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: header;
}
.bar i {
    /* border-right: 2px solid #fff; */
    overflow: hidden;
    white-space: nowrap;
    /* animation: 
        typing .7s steps(11) infinite,
        cursor .4s step-end infinite alternate; */
    line-height: 1em;
}
#type::after {
    content: '';
    border-right: 2px solid #fff;
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: cursor 0.7s step-end infinite alternate;
  }

@keyframes cursor {
    50% {border-color: transparent;}
}
@keyframes typing {
    from { width: 0; }
}

.head {
    display: flex;
    align-items: center;
    flex-grow: 3;
    height: 60%;
}
.head-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5em;
    width: 100%;
}
.head .content {
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
    width: 15em;
    text-align: center;
    line-height: 1.1em;
    animation-name: header;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}
.head .content .name {
    background-image: linear-gradient(20deg,hsl(var(--p)),hsl(var(--s)));
    color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(0 0 5px rgba(99, 121, 218, 0.5));
    
}
.more {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    animation-name: header;
}
.btn {
    border: 2.7px solid;
    padding: 10px 20px;
    transition: all .3s;
    cursor: pointer;
}
.btn:hover {
    transform: translateY(-7px);
    background-color: white;
    color: #121212;
}
.country {
    mix-blend-mode: screen;
    cursor: pointer;
    --x: 5%;
    --size: 100%;

    background-image: radial-gradient(var(--x) calc(var(--x) * 5.5) at var(--pos-x) var(--pos-y), var(--color) 0%, var(--color) 20%, var(--color-primary) 51%);

    -webkit-background-clip: text;
    color: transparent;
    width: 100%;
    transition: background-size, 1s;
    /* animation: expand var(--timing) ease forwards; */
}
/* @keyframes expand {
    from {
        background-size: 100% 100%;
    }
    to {
        background-size: 5000% 5000%;
    }
} */


.container {
    max-width: 80em;
    padding: 0 2em;
    margin: auto;
    /* overflow: hidden; */
}

.content {
    height: 100%;
}
.about {
    min-height: 100%;
    grid-template-columns: 1.7fr 2fr;
    grid-template-rows: 70% 10%;
    column-gap: 4em;
}
.about .description {
    grid-template-rows: 1fr 2.2fr;
}
.description {
    grid-row: span 2;
}
.description .title {
    display: flex;
    width: 100%;
    align-items: flex-end;
}
.description .title div {
    width: 100%;
    line-height: 100%;
}
.description .subtitle {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: .5em;
    width: 100%;
}
.description .subtitle div {
    cursor: pointer;
    position: relative;

}
.description .subtitle div::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0.1em;
    background-color: var(--scheme-blue);
    transition: width 300ms, transform 300ms;
}
.description .subtitle div:hover::after, .description .subtitle div:focus::after {
    width: 100%;
}
.description .pr {
    line-height: 1.5em;
    overflow: hidden;
}
.about .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}
.about .socials > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    background-color: white;
    height: 100%;
    color: initial;
}
.description .heading {
    grid-template-rows: 1fr .7fr;
}
.skills {
    height: 100%;
}
.skills .cards-container:nth-of-type(2){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
}
.skills .cards-container:nth-of-type(2) > div {
    background-color: var(--scheme-surface-color);
    width: 100%;
    min-height: 8em;
    padding: 1.2em;
    display: grid;
    grid-template-rows: .8fr 2fr;
    grid-template-columns: .4fr 7fr;


}
.skills .cards-container:nth-of-type(2) > div > div:nth-of-type(3) {
    grid-column: 2;
}
.skills .cards-container:nth-of-type(2) > div > div:nth-of-type(2) {
    text-transform: uppercase;
}
.skills .cards-container:nth-of-type(4),
.skills .cards-container:nth-of-type(5) {
    min-height: 20%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.skills .cards-container:nth-of-type(4) .cards,
.skills .cards-container:nth-of-type(5) .cards  {
    height: 100%;
    display: flex;
    gap: 1em;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: start;
    margin-left: 1em;
}
.skills .cards-container:nth-of-type(4) .cards > li,
.skills .cards-container:nth-of-type(5) .cards > li {
    --square: 6em;
    background-color: var(--scheme-surface-color);
    color: rgb(255, 255, 255);
    width: var(--square);
    height: var(--square);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px;

}
.skills .cards-container:nth-of-type(4) .cards > li > img,
.skills .cards-container:nth-of-type(5) .cards > li > img {
    width: 45%;
    height: auto;
}
.skills .cards-container:nth-of-type(4) .cards > li > p,
.skills .cards-container:nth-of-type(5) .cards > li > p {
    font-size: 12.8px;
    width: 100%;
    text-align: center;
}

/* bento */
.projects .title {
    display: flex;
    justify-content: flex-end;
}
/* .projects .bento {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    gap: 1em;
} */

.projects .bento {
    position: relative;
}
.projects .bento .item {
    background-color: var(--scheme-surface-color);
    border-radius: 15px;
    position: absolute;
    height: 200px;
    margin: 4px;
    z-index: 1;
}
.projects .bento .muuri-item-placeholder {
    z-index: -1;
    position: absolute;
    background-color: #414141;
    opacity: 0.7;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    
}
.projects .bento .item.muuri-item-hidden {
  z-index: 0;
}
.projects .bento .item.muuri-item-positioning {
  z-index: 2;
}
.projects .bento .item.muuri-item-releasing {
  z-index: 3;
}
.projects .bento .item.muuri-item-dragging {
  z-index: 4;
}

.projects {
    height: 100%;
}
