:root {
    --p: 207 90% 54%;
    --s: 213.12 93.902% 67.843%;
    --pos-x: 0;
    --pos-y: 0;
    --pos-r: 0;
    --color: rgba(252, 209, 22);
    --timing: 700ms; 
    --color-primary: rgba(255, 255, 255);

}
/* RESET */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100vh;
    height: 100%;
}
img, picture, svg, video {
    display: block;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

/* MAIN */

body {
    background-color: #121212;
    color: white;
}
body > div {
    height: 100%;
}
.navbar {
    display: flex;
    height: 17%;
    justify-content: space-between;
    align-items: center;
}
@keyframes dot {
    from {
        opacity: 0;
        transform: translateY(-20px)
    }
    to {
        transform: translateY(0px)
    }
}
@keyframes defaultLoadLeft {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes defaultLoadRight {
    from {
        transform: translateX(20px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes defaultOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes header {
    from {
        transform: scale(0.9);
        opacity: 0.5;
        filter: blur(20px);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.navbar .logo {
    font-size: 2.7rem;
    font-family: 'Poppins', sans-serif;
    animation-name: defaultLoadLeft;
    display: flex;
}
.navbar .menu {
    font-size: 2.7rem;
    text-align: center;
    animation-name: defaultLoadRight;
}
.logo i {
    animation-name: dot;
}
.bar {
    background-color: #222222;
    color: #cccccc;
    font-family: 'Satoshi', sans-serif;
    text-align: center;
    width: 9em;
    height: 1.7em;
    font-size: 1.3em;
    border-radius: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: header;
}
.bar i {
    /* border-right: 2px solid #fff; */
    overflow: hidden;
    white-space: nowrap;
    /* animation: 
        typing .7s steps(11) infinite,
        cursor .4s step-end infinite alternate; */
    line-height: 1em;
}
#type::after {
    content: '';
    border-right: 2px solid #fff;
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: cursor 0.7s step-end infinite alternate;
  }

@keyframes cursor {
    50% {border-color: transparent;}
}
@keyframes typing {
    from { width: 0; }
}

.head {
    display: flex;
    align-items: center;
    flex-grow: 3;
    height: 60%;
    /* transform: scale(0.2); */
}
.head-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5em;
    max-width: 100%;
}
.head .content {
    font-size: var(--fs-heading);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0px;

    width: fit-content;
    text-align: center;
    line-height: 1.1em;
    animation-name: header;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}
.head .content .name {
    background-image: linear-gradient(20deg,hsl(var(--p)),hsl(var(--s)));
    color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(0 0 5px rgba(99, 121, 218, 0.5));
    
}
.more {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    animation-name: header;
}
.btn {
    border: 2.7px solid;
    padding: 10px 20px;
    transition: all .3s;
    cursor: pointer;
}
.btn:hover {
    transform: translateY(-7px);
    background-color: white;
    color: #121212;
}
.country {
    mix-blend-mode: screen;
    cursor: pointer;
    --x: 5%;
    --size: 100%;

    background-image: radial-gradient(var(--x) calc(var(--x) * 5.5) at var(--pos-x) var(--pos-y), var(--color) 0%, var(--color) 20%, var(--color-primary) 51%);

    -webkit-background-clip: text;
    color: transparent;
    width: 100%;
    transition: background-size, 1s;
    /* animation: expand var(--timing) ease forwards; */
}
/* @keyframes expand {
    from {
        background-size: 100% 100%;
    }
    to {
        background-size: 5000% 5000%;
    }
} */


.container {
    max-width: 80em;
    padding: 0 2em;
    margin: auto;
    /* overflow: hidden; */
}

.content {
    height: 100%;
}
.about {
    min-height: 100%;
    grid-template-columns: 1.7fr 2fr;
    grid-template-rows: 70% 10%;
    column-gap: 4em;
}
.about .description {
    grid-template-rows: 1fr 2.2fr;
}
.description {
    grid-row: span 2;
}
.about .description .title {
    display: flex;
    width: 100%;
    align-items: flex-end;
}
.about .description .title div {
    width: 100%;
    line-height: 100%;
}

.about .description .pr {
    line-height: 1.5em;
    overflow: hidden;
}
.about .about .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}
.about .socials > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    background-color: white;
    height: 100%;
    color: initial;
}
.about .description .heading {
    grid-template-rows: 1fr .7fr;
}
.skills {
    height: 100%;
}
.skills .cards-container:nth-of-type(2){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
}
.skills .cards-container:nth-of-type(2) > div {
    background-color: var(--scheme-surface-color);
    width: 100%;
    min-height: 8em;
    padding: 1.2em;
    display: grid;
    grid-template-rows: 0fr 2fr;
    row-gap: .2em;
    grid-template-columns: .4fr 7fr;


}
.skills .cards-container:nth-of-type(2) > div > div:nth-of-type(3) {
    grid-column: 2;
}
.skills .cards-container:nth-of-type(2) > div > div:nth-of-type(2) {
    text-transform: uppercase;
}
.skills .cards-container:nth-of-type(4),
.skills .cards-container:nth-of-type(5) {
    min-height: 20%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.skills .cards-container:nth-of-type(4) .cards,
.skills .cards-container:nth-of-type(5) .cards  {
    height: 100%;
    display: flex;
    gap: 1em;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: start;
    margin-left: 1em;
}
.skills .cards-container:nth-of-type(4) .cards > li,
.skills .cards-container:nth-of-type(5) .cards > li {
    --square: 6em;
    background-color: var(--scheme-surface-color);
    color: rgb(255, 255, 255);
    width: var(--square);
    height: var(--square);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px;

}
.skills .cards-container:nth-of-type(4) .cards > li > img,
.skills .cards-container:nth-of-type(5) .cards > li > img {
    width: 45%;
    height: auto;
}
.skills .cards-container:nth-of-type(4) .cards > li > p,
.skills .cards-container:nth-of-type(5) .cards > li > p {
    font-size: 12.8px;
    width: 100%;
    text-align: center;
}
.projects .title {
    display: flex;
    justify-content: flex-end;
}
.projects .bento {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    gap: 1em;
}

.projects .bento > div {
    background-color: var(--scheme-surface-color);
    border-radius: 15px;
    transition: all, .3s;
    position: relative;

}
.projects .bento > div.image {
    background: url('https://source.unsplash.com/random');
    background-size: cover;
    background-position: center;
}
.projects .bento > div .gradient {

    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    border-radius: 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    opacity: 0;
    transition: all .4s;
}
.projects .bento > div .description {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 0fr 1fr;
    column-gap: 1em;
    width: 100%;
    bottom: 0%;
    padding: 5%;
    filter: blur(3px);
    transition: filter .1s ease-in-out;
}
.projects .bento > div .description div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.projects .bento > div .description div > div:nth-of-type(1) {
    grid-column: span 2;
    transform: translateY(20px);
    transition: all .5s;
    opacity: 0;
}
.projects .bento > div .description div > div:nth-of-type(2) {
    transform: translateY(10px);
    opacity: 0;
    transition: all .4s;
    display: inline-block;
}
.projects .bento > div .description > a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    transform: translateY(20px);
    transition: all .2s;
    opacity: 0;
    width: 15%;
    font-size: 1.5vw;
}
.projects .bento > div .description > a i {
    background-color: white;
    border-radius: 20em;
    padding: 20%;
    transition: all .3s;
}
.projects .bento > div .description > a:hover i {
    background-color: var(--scheme-surface-color);
    color: white;
} 
.projects .bento > div:nth-of-type(1) {
    grid-column: span 3;
    grid-row: span 3;
}
.projects .bento > div:nth-of-type(2) {
    grid-column: span 3;
}
.projects .bento > div:nth-of-type(3) {
    grid-column: span 3;
    grid-row: span 3;
}
.projects .bento > div:nth-of-type(4) {
    grid-column: span 3;
    grid-row: span 3;
}

.projects .bento > div:hover .gradient {
    opacity: 1;
}
.projects .bento > div:hover .description,
.projects .bento > div:hover .description div div,
.projects .bento > div:hover .description a {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

.projects {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}