.selectNone {
    user-select: none;
}

.animated {
    animation-duration: 1s;
}
.animated.animate-fast {
    animation-duration: 0.5s;
}
.animated.animate-slow {
    animation-duration: 1.5s;
}
.animated.animate-med {
    animation-duration: 0.7s;
}
.animated.animate-reverse {
    animation-direction: reverse;
}
.animated.animate-smooth {
    animation-timing-function: ease-in-out;
}
.grid {
    display: grid;
}
.font-title {
    font-family: Poppins, sans-serif;
    font-size: var(--fs-title);
}
.font-title-normal {
    font-family: Poppins, sans-serif;
}
.font-title-med {
    font-family: Poppins, sans-serif;
    font-size: var(--fs-title-med);
}
.font-pr {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fs-pr);
}
.font-subtitle {
    font-family: Poppins, sans-serif;
    font-size: var(--fs-title-med);
}
.font-muted {
    color: #adadad;
}
.font-small-cards {
    font-size: var(--fs-small-cards);
}

.dot i {
    color: #2196f3;
}
.divider {
    height: 3em;
}
.corner-normal {
    border-radius: 15px;
}
.card-hover {
    border: 2px solid;
    border-color: var(--scheme-surface-color);
    transition: all .2s;
}
.card-hover:hover {
    border-color: var(--scheme-blue);
    filter: drop-shadow(0 0 5px rgba(99, 121, 218, 0.5));
    outline: none;
}
.card-hover-soft {
    border: 2px solid;
    border-color: #04632f;
    transition: all .2s;
}
.card-hover-soft:hover {
    border-color: var(--scheme-blue);
    filter: drop-shadow(0 0 5px rgba(99, 121, 218, 0.5));
    outline: none;
}

.subtitle {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: .5em;
    width: 100%;
}
.subtitle div {
    cursor: pointer;
    position: relative;

}
.subtitle div::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0.1em;
    background-color: var(--scheme-blue);
    transition: width 300ms, transform 300ms;
    
}
.subtitle div:hover::after, .subtitle div:focus::after {
    width: 100%;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0em 10em;
    /* margin: 0 auto; */
    
}